* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: 100%;
  height: 100%; */
}

:root {
  --body_background: white;
  --body_color: rgb(26, 26, 26); 
  --border_color: rgb(26, 26, 26);
}

[data-theme='light'] {
  --body_background: white;
  --body_color: rgb(26, 26, 26);
  --border_color: rgb(26, 26, 26);
  background-color: var(--body_background);
  color: var(--body_color);
  border-color: var(--border_color);
}

[data-theme='dark'] {
  --body_background: rgb(26, 26, 26);
  --body_color: white;
  --border_color: white;
  background-color: var(--body_background);
  color: var(--body_color);
  border-color: var(--border_color);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
